<h2>Hi, {{username}}!</h2>

<h3>There are {{usersLength}} registered users.</h3>
<br/>

<table mat-table [dataSource]="users" matSort matSortActive="username" matSortDirection="asc" matSortStart="asc"
       matSortDisableClear
       class="mat-elevation-z8">

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username</th>
    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> Full name</th>
    <td mat-cell *matCellDef="let user"> {{user.findAttribute('fullName')}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let user"> {{user.findAttribute('email')}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
    <td mat-cell *matCellDef="let user">
      <mat-slide-toggle [checked]="(user.status === 1)" color="primary" disabled></mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let user">
      <a mdbBtn mdbWavesEffect floating="true" outline="true" color="info" size="sm" (click)="editUser(user)">
        <em class="fa fa-pencil-alt"></em>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator (page)="changePage()" [pageSizeOptions]="[5, 10, 15]" [pageSize]="10"
               [showFirstLastButtons]="true"></mat-paginator>

