<nav class="navbar fixed-top navbar-expand-lg navbar-dark primary-color scrolling-navbar" [containerInside]="true">
  <div class="container">

    <a [routerLink]="['']" class="navbar-brand">My App</a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbar" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item navbar-li">
          <a [routerLink]="['']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }"
             class="nav-link">Home
          </a>
        </li>
        <li class="nav-item navbar-li" *ngIf="!authService.isAuthenticated()">
          <a [routerLink]="['login']" [routerLinkActive]="['active-link']"
             [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Login
          </a>
        </li>
        <li class="nav-item navbar-li" *ngIf="authService.isAuthenticated()">
          <a [routerLink]="['dashboard']" [routerLinkActive]="['active-link']"
             [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Dashboard
          </a>
        </li>
        <li class="nav-item navbar-li" *ngIf="authService.isAuthenticated()">
          <a [routerLink]="['admin']" [routerLinkActive]="['active-link']"
             [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Admin
          </a>
        </li>
        <li class="nav-item navbar-li" *ngIf="authService.isAuthenticated()">
          <a (click)="logout()" class="nav-link">Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
