<div class="col">
  <h2>{{'greeting' | translate}}, {{username}}!</h2>
  <h4>{{'dashboardHeader' | translate}}</h4>
  <br/>

  <mat-tab-group>
    <mat-tab label="{{'overview' | translate}}">
      <div class="container">
        <br/>

        <mat-card>
          <mat-card-content>
            <h4>{{'selectTimeRange' | translate}}</h4>

            <div class="container">
              <div class="row">
                <div class="col-md text-center">
                  <mat-form-field>
                    <input matInput [max]="today" [matDatepicker]="pickerFrom" placeholder="{{'from' | translate}}"
                           readonly [(ngModel)]="dateFrom" (ngModelChange)="getTotalExpenses()">
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                  </mat-form-field>

                </div>
                <div class="col-md text-center">
                  <mat-form-field>
                    <input matInput [max]="today" [min]="dateFrom" [matDatepicker]="pickerTo" placeholder="{{'to' |
                    translate}}"
                           readonly [(ngModel)]="dateTo" (ngModelChange)="getTotalExpenses()">
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                  </mat-form-field>

                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>


    <mat-tab label="{{'expensesFeed' | translate}}">
      <div class="container">
        <br/>

        <div class="alert alert-info" role="alert"> {{'totalExpensesHeader1' | translate}} {{userExpenses.size}}
          {{'totalExpensesHeader2' | translate}}
        </div>

        <mat-accordion>
          <mat-expansion-panel
            *ngFor="let expense of userExpenses.results; let i = index;"
            (opened)="setOpened(i)"
            (closed)="setClosed(i)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ expense.amount }}
                &euro;
                {{'for' | translate}}
                {{getTranslatedCategory(expense.category)}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <form class="text-center">

              <mat-form-field>
                <mat-label>{{'amount' | translate}}</mat-label>
                <input matInput type="number" [(ngModel)]="expense.amount" [ngModelOptions]="{standalone: true}"
                       readonly/>
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{'date' | translate}}</mat-label>
                <input matInput type="text" [(ngModel)]="expense.date" [ngModelOptions]="{standalone: true}"
                       readonly/>
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{'category' | translate}}</mat-label>
                <input matInput type="text" [ngModel]="getTranslatedCategory(expense.category)"
                       [ngModelOptions]="{standalone:true}" readonly/>
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{'description' | translate}}</mat-label>
                <textarea matInput type="text" [(ngModel)]="expense.description" [ngModelOptions]="{standalone: true}"
                          readonly rows="3"></textarea>
              </mat-form-field>

              <button mdbBtn type="button" color="danger" class="waves-effect z-depth-0 pull-left" mdbWavesEffect
                      (click)="deleteExpense(expense.id)">
                <em class="far fa-trash-alt"></em>
                {{'delete' | translate}}
              </button>

            </form>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-paginator [hidden]="userExpenses.size <= 0" #paginator [length]="userExpenses.size"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[5, 25, 50, 100]"
                       (page)="changePage($event)">
        </mat-paginator>

      </div>
    </mat-tab>

    <mat-tab label="{{'newExpense' | translate}}">
      <div class="container">
        <br/>
        <form class="text-center" [formGroup]="newExpenseForm" (submit)="submitExpense()" novalidate>

          <mat-form-field>
            <mat-label>{{'amount' | translate}}</mat-label>
            <input type="number" matInput formControlName="amount"/>
            <mat-error
              *ngIf="newExpenseForm.get('amount').hasError('required')">
              {{'amountRequired' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [max]="today" [matDatepicker]="picker" placeholder="{{'date' | translate}}"
                   formControlName="date" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'category' | translate}}</mat-label>
            <mat-select formControlName="category">
              <mat-option [value]="">
                {{'category'| translate}}
              </mat-option>
              <mat-option *ngFor="let e of expenseCategories" [value]="e.id">
                {{e.name | translate}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="newExpenseForm.get('category').hasError('required')">
              {{'categoryRequired' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'description' | translate}}</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>

          <button mdbBtn type="submit" color="info" class="waves-effect z-depth-0 pull-left" mdbWavesEffect>
            <em
              class="fa fa-save"></em>
            {{'submitExpense' | translate}}
          </button>

        </form>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>
