<div class="col-md-6 offset-md-3 animated bounceInLeft">
  <div class="panel" id="loginbox">
    <div class="panel-heading">
      <div class="panel-title text-center">{{'registerHeader' | translate}}</div>
    </div>
    <div class="panel-body">
      <form class="text-center" [formGroup]="registerForm" (submit)="register()" novalidate>
        <div class="md-form">
          <input mdbInput mdbValidate id="username" name="username" class="form-control" formControlName="username"
                 type="text"/>
          <label for="username">{{'username' | translate}}</label>
          <mdb-error
            *ngIf="usernameField.errors?.required && (usernameField.dirty || usernameField.touched)">{{'usernameRequired' |
            translate}}
          </mdb-error>
          <mdb-error
            *ngIf="usernameField.errors?.unique && (usernameField.dirty || usernameField.touched)">{{'usernameExists' |
            translate}}
          </mdb-error>
        </div>

        <div class="md-form">
          <input mdbInput mdbValidate id="fullName" name="fullName" class="form-control" formControlName="fullName"
                 type="text">
          <label for="fullName">{{'fullName' | translate}}</label>
          <mdb-error
            *ngIf="fullNameField.invalid && (fullNameField.dirty || fullNameField.touched)">{{'fullNameRequired'| translate}}
          </mdb-error>
        </div>

        <div class="md-form">
          <input mdbInput mdbValidate id="email" name="email" class="form-control" formControlName="email" type="text">
          <label for="email">{{'email' | translate}}</label>
          <mdb-error
            *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">{{'emailRequired'| translate}}
          </mdb-error>
        </div>

        <div class="md-form">
          <input mdbInput mdbValidate id="password" name="password" class="form-control" formControlName="password"
                 type="password">
          <label for="password">{{'password' | translate}}</label>
          <mdb-error
            *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">{{'passwordPatternInvalid' | translate}}
          </mdb-error>
        </div>

        <div class="aligned-buttons">
          <button mdbBtn type="button" outline="true" color="info" class="waves-effect z-depth-0 pull-left"
                  mdbWavesEffect (click)="changeLoginPageStatus()">
            <em class="fa fa-key"></em>
            {{'loginButton' | translate}}
          </button>
          <button mdbBtn type="submit" color="info" class="waves-effect z-depth-0 pull-right" mdbWavesEffect>
            <em
              class="fa fa-book"></em>
            {{'register' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
