<div class="col-md-6 offset-md-3 animated bounceInLeft">
  <div class="panel" id="loginbox">
    <div class="panel-heading">
      <div class="panel-title text-center">{{'registerHeader' | translate}}</div>
    </div>
    <div class="panel-body">
      <form class="text-center" [formGroup]="registerForm" (submit)="register()" novalidate>

        <mat-form-field>
          <mat-label>{{'username' | translate}}</mat-label>
          <input type="text" matInput formControlName="username"/>
          <mat-error
            *ngIf="registerForm.get('username').hasError('required')">
            {{'usernameRequired' | translate}}
          </mat-error>
          <mat-error
            *ngIf="registerForm.get('username').hasError('unique')">
            {{'usernameExists' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'fullName' | translate}}</mat-label>
          <input type="text" matInput formControlName="fullName"/>
          <mat-error
            *ngIf="registerForm.get('fullName').hasError('required')">
            {{'fullNameRequired' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'email' | translate}}</mat-label>
          <input type="text" matInput formControlName="email"/>
          <mat-error
            *ngIf="registerForm.get('email').hasError('required')">
            {{'emailRequired' | translate}}
          </mat-error>
          <mat-error
            *ngIf="registerForm.get('email').hasError('email')">
            {{'emailRequired' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'password' | translate}}</mat-label>
          <input type="text" matInput formControlName="password"/>
          <mat-error
            *ngIf="registerForm.get('password').hasError('required')">
            {{'passwordPatternInvalid' | translate}}
          </mat-error>
          <mat-error
            *ngIf="registerForm.get('password').hasError('pattern')">
            {{'passwordPatternInvalid' | translate}}
          </mat-error>
        </mat-form-field>

        <div class="aligned-buttons">
          <button mdbBtn type="button" outline="true" color="info" class="waves-effect z-depth-0 pull-left"
                  mdbWavesEffect (click)="changeLoginPageStatus()">
            <em class="fa fa-key"></em>
            {{'loginButton' | translate}}
          </button>
          <button mdbBtn type="submit" color="info" class="waves-effect z-depth-0 pull-right" mdbWavesEffect>
            <em
              class="fa fa-book"></em>
            {{'register' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
